.countdown-timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 32px 20px;
}

.timer-input {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.datetime-picker:disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.button-start {
  min-width: 80px;
}

.button-start:disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.timer {
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.field {
  display: flex;
  flex-direction: column;
}